.aboutimg{
    background-image: url('./img-aboutus.png');
    background-size: cover;
    display: block;
    height: 100%;
    left: 0%;
    position: fixed;
    right: 0;
    margin-top: -0.5em;
    z-index: 1;
}
.textarea1 h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 350;
    color: black;
    margin-left: 23.75em;

}
.textarea1 p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: black;
    
}
.container {
    max-width: 45em;
    max-height: 5em;
    margin: 0 auto;
    margin-top: 1.5em;
    margin-left: 39em;
}
.text {
    font-size: 17px;
    line-height: 1.9;
    margin-left: 8em;
}
