.bg-image {
  background-image: url("img-idea-3.gif");
  background-size: 50em 50em;
  background-repeat: no-repeat;
  display: block;
  height: 100%;
  left: 0%;
  position: fixed;
  right: 0;
  z-index: 1;
}

.logoutBtn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 55px;
  height: 55px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition-duration: 0.3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
  background-color: rgb(255, 65, 65);
}

.logoutsign {
  width: 100%;
  transition-duration: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logoutsign svg {
  width: 17px;
}

.logoutsign svg path {
  fill: white;
}

.logouttext {
  position: absolute;
  right: 0%;
  width: 0%;
  opacity: 0;
  color: white;
  font-size: 0.6em;
  font-weight: 600;
  transition-duration: 0.3s;
}

.logoutBtn:hover {
  width: 125px;
  border-radius: 40px;
  transition-duration: 0.3s;
}

.logoutBtn:hover .logoutsign {
  width: 40%;
  transition-duration: 0.3s;
  padding-left: 0px;
}

.logoutBtn:hover .logouttext {
  opacity: 1;
  width: 70%;
  transition-duration: 0.3s;
  padding-right: 10px;
}

.logoutBtn:active {
  transform: translate(2px, 2px);
}

.logoutsign::before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath d='M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z'/%3E%3C/svg%3E");
  display: inline-block;
  width: 22px; /* Adjust width and height as needed */
  height: 20px;
  align-items: center; /* Adjust spacing as needed */
  font-size: 0.6em;
}

.get-started {
  margin-top: 35em;
  margin-left: 30em;
}

.text-img h1 {
  font-family: fantasy;
  font-weight: 800;
  font-size: 3.5em;
  margin-left: 18em;
  margin-top: -9em;
}

.botbtn {
  width: 6%;
  height: 1.5em;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  border-radius: 0.25em;
  font-size: 3em;
  cursor: pointer;
  margin-left: 15em;
}

.closebotbtn {
  width: 5%;
  height: 3em;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  border-style: none;
  cursor: pointer;
  margin-top: 1em;
  margin-left: 28em;
}

.lg {
  width: 20%;
  height: 3em;
  background-color: black;
  display: flex;
  color: whitesmoke;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  border-style: none;
  border-radius: 0.25em;
  cursor: pointer;
}

.lg:hover {
  transform: scale(1.25);
}

.lg a {
  text-decoration: none;
}

/* Media queries */
@media only screen and (max-width: 768px) {
  .get-started {
    margin-top: 15em;
    margin-left: 5em;
  }

  .text-img h1 {
    margin-left: 6em;
    margin-top: -9em;
  }

  .botbtn {
    width: 15%;
    margin-left: 5em;
  }

  .closebotbtn {
    margin-left: 13em;
  }
}

@media only screen and (max-width: 480px) {
  .get-started {
    margin-top: 8em;
    margin-left: 2em;
  }

  .text-img h1 {
    margin-left: 2em;
    margin-top: -9em;
    font-size: 2.5em;
  }

  .botbtn {
    width: 20%;
    margin-left: 2em;
    font-size: 2em;
  }

  .closebotbtn {
    margin-left: 8em;
  }
}
