*{
  margin: 1;
  box-sizing: border-box;
  font-family: "CustomFont";
}

@font-face {
  font-family: "CustomFont";
  src: url("./RolexLight.woff2");
}

.page {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.75em;
}

.cover {
  background-color: white;
  margin-top: 20em;
  margin-left: 30em;
  width: 100%;
  max-width: 400px;
  height: auto;
  position: relative;
  border-radius: 1em;
  box-shadow: 0 0.188em 1.550em rgb(156, 156, 156);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
}

.cover a{
  color: black;
  margin-top: 1em;
  margin-right: 8em;
  text-decoration: none;
}





input {
  border: none;
  background-color: rgb(229, 226, 226);
  width: 80%;
  max-width: 300px;
  border-radius: 0.25em;
  text-align: center;
  padding: 2em;
  font-size: 0.75em;
  margin-bottom: 10px;
}

input:focus {
  outline-color: rgb(32, 177, 255);
}

.login-btn {
  width: 40%;
  height: 3em;
  background-color: rgb(32, 177, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  border-radius: 0.25em;
  cursor: pointer;
}

.login-btn:hover {
  background-color: lightgreen;
  transform: scale(1.25);
}

.signuptext {
  position: relative;
  bottom: 0.5%;
  left: 46%;
}

.hide {
  position: absolute;
  transform: scale(0);
}

.login-popup {
  position: absolute;
  height: 10em;
  width: 10em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 0.25em;
  background-color: black;
  color: white;
  bottom: 1;
  transform: scale(1);
  transition: 1s;
}




/* ------------------- RESPONSIVE STYLES -------------------- */

/* MOBILE OPTIMIZATION */
@media only screen and (max-width: 768px) {
  .page {
    font-size: 0.9em;
  }

  .cover {
    width: 80%;
    margin-left: 0;
    margin-top: 2em;
  }
}

/* TABLET OPTIMIZATION */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .page {
    font-size: 1em;
  }

  .cover {
    width: 60%;
    max-width: 600px;
    margin-left: 0;
    margin-top: 4em;
  }
}

/* DESKTOP OPTIMIZATION */
@media only screen and (min-width: 1025px) {
  .page {
    font-size: 1.25em;
  }

  .cover {
    width: 40%;
    max-width: 500px;
    margin-left: 27.5em;
    margin-top: 9.8em;
  }
}
